.default-button {
  display: inline-block;
  padding: 5px 23px 6px 23px;
  text-transform: uppercase;
  font-size: 0.9rem;
  transition: ease 0.3s;
  border-radius: 3px;
  font-family: "Open Sans";
  font-weight: 800;
  cursor: pointer;
}

.red-button {
  background-color: rgba(230, 0, 18, 1);
  color: white;
}

.red-button:hover {
  background-color: white;
  color: rgba(230, 0, 18, 1);
}

.white-button {
  background-color: white;
  color: rgba(230, 0, 18, 1);
}

.white-button:hover {
  background-color: rgba(230, 0, 18, 1);
  color: white;
}

.medium-red-button {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  background-color: rgba(230, 1, 19, 1);
  padding: 15px 74px;
  margin: 0 5px 12px 0;
  font-weight: 600;
  font-size: 1.2rem;
  border: 2px solid rgba(230, 1, 19, 1);
}

.medium-white-button {
  display: inline-block;
  color: rgba(230, 1, 19, 1);
  text-transform: uppercase;
  background-color: white;
  padding: 14px 70px;
  margin: 0 5px 10px 0;
  font-weight: 600;
  font-size: 1.2rem;
  border: 3px solid rgba(230, 1, 19, 1);
}

.medium-red-button:hover {
  background-color: rgba(177, 7, 21, 1);
  border: 2px solid rgba(177, 7, 21, 1);
}

.medium-white-button:hover {
  color: rgba(177, 7, 21, 1);
  border: 3px solid rgba(177, 7, 21, 1);
}

.large-button {
  width: 100%;
  padding: 18px 0;
  margin: .5px 0;
  text-align: center;
  background-color: rgba(161, 161, 161, 1);
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1.4rem;
  color: white;
  transition: 0.3s ease background-color;
}

.large-button:hover {
  background-color: rgba(230, 0, 18, 1);
}



