#equipmentSection .equipmentSection {
  flex-direction: column;
  height: auto;
  padding: 80px 0;  
}

#equipmentSection .section-title::after {
  content: "";
  border: 1px solid rgba(227, 11, 32, 1);
  width: 130px;
  display: block;
  margin: 30px auto 0 auto;
}

#equipmentSection .buttonGroup {
    width: 85%; 
}


