
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@400;600;800&display=swap');

*{
  margin: 0; 
  padding: 0; 
}

html{
  box-sizing: border-box;
  font-family: "Anton", "Open Sans", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container{
  height: 100vh; 
  width: 100%; 
   display: flex; 
   justify-content: center;
   align-items: center;
}

h1, h2, h3, h4, h5, div, a{
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
